table {
    border: 10px solid black;
    margin: auto;
    margin-top: 100px;
}

table td {
    border: 1px solid lightgray;
    background-color: lightgray;
    padding: 15px;
    width: 75px;
    height: 75px;
}

canvas {
    position: absolute;
    pointer-events: none;
    top: 15px;
    left: 110px;
    width: 760px;
    height: 740px;
}

button {
    width: 75px;
    height: 75px;
    background-color: white !important;
}
